<div class="container mt-4 w-75 mx-auto">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id),class:"text-decoration-none text-black" do %>
      <div class="card mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-between mx-4">
            <div class="cols">
              <h5 class="card-title"><%= recipe.name %></h5>
              <small>by: <%= recipe.users.name %></small>
            </div>
            <div class="cols">
              <h5 class="card-title">Total foods items: <%= recipe.recipe_foods.includes(:food).count%></h5>
              <small>
                <% sum = 0 %>
                <% recipe.recipe_foods.includes(:food).each do |food| %>
                  <% sum += food.quantity * food.food.price %>
                <% end %>
                <%= "Total price: $#{sum}" %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>