<div class="wrapper">
  <h2>Add New Recipe</h2>
  <%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>
    <div class="field">
      <%= f.label :name, class: "form-label" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" , class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :preparation_time, class: "form-label" %><br />
        <%= f.text_field :preparation_time, autofocus: true, autocomplete: "preparation_time" ,
          class: "mb-3 form-control" %>
    </div>
    <div class="field">
      <%= f.label :cooking_time, class: "form-label" %><br />
        <%= f.text_field :cooking_time, autofocus: true, autocomplete: "cooking_time" , class: "mb-3 form-control" %>
    </div>
    <div class="field">
      <%= f.label :description, class: "form-label" %><br />
        <%= f.text_area :description, autofocus: true, autocomplete: "description" , class: "mb-3 form-control" %>
    </div>
    <div class="mb-3 form-check">
      <%= f.radio_button :public, true %>
        <%= f.label 'Public' , :public=> 'True' %>
          <%= f.radio_button :public, false %>
            <%= f.label 'Private' , :public=> 'False' %>
    </div>
    <div class="actions">
      <%= f.submit "Add recipe" , class: "btn btn-success" %>
    </div>
    <% end %>
</div>