<div class="new-food-container d-grid justify-content-center" style="width: 30%">
    <%= form_with model: @recipe_food, url:  recipe_recipe_foods_path, method: :post,scope: :recipe_food do |f| %>
    <div class="form-group">
       <div class="form-outline mb-4">
            <%= f.label :quantity, class: "form-label" %><br />
            <%= f.text_field :quantity, class: "form-control" %>
        </div>
        <div class="form-outline mb-4">
            <%= f.label :recipe_id, class: "form-label" %><br />
            <%= f.collection_select(:recipe_id, Recipe.all, :id, :name, class: "form-control" ) %>
        </div>
        <div class="form-outline mb-4 ">
            <%= f.label :food_id, class: "form-label" %><br />
            <%= f.select(:food_id, Food.all.map{|u| [u.name, u.id]}, class:"btn btn-secondary dropdown-toggle" ) %>
        </div>

        <div class="submit-btn">
            <%= f.submit  "sumit", class: "p-2"  %>
        </div>
    </div>
    <% end %>
</div>